*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
}

.hidden {
	display: none;
}

span[end]{
	margin-left: auto;
}

/**[flippedLights]{
	filter: invert(100%) hue-rotate(180deg);
}

*[flippedLights] button {
	box-shadow: 0 0 0 0 #0000 !important;
}
*/