check-paper{
/*	width: 40px;*/
/*	height: 50px;*/
/*	position: absolute;*/
	display: flex;
	flex-direction: column;
	min-width: 500px;
/*	left: 700px;*/
/*	background-color: #ee0;*/


box-sizing: border-box;

/*width: 543px;*/
/*padding: 0 40px;*/
/*min-height: 742px;*/
min-height: 120vh;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
border-radius: 12px;

margin-top: 40px;
margin-left: 20px;
margin-right: 80px;
animation: paperAnim 600ms;
/*animation-delay: 0.5s;*/
}

@keyframes paperContentAnim{
	0% {
		opacity: 0;
		transform: translateY(-4px);
	}
	100% {
		opacity: 1;
		transform: translateY(-0);
	}
}

check-paper *{
	animation: paperContentAnim 300ms;
}

@keyframes paperAnim{
	0%{
		box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
		transform: translate(10px, 10px);
	}
	60%{
		box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
	}
	90%{
		transform: translate(0, 0);
	}
	100%{
		box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);
	}
}


check-paper h3{
	font-weight: 700;
	font-size: 27px;
	line-height: 32px;
	/* identical to box height */
	margin-left: 13px;
	margin-right: 90px;
	margin-top: 12px;
	margin-bottom: 34px;
}

check-paper p:hover {
/*	background-color: #ddd;*/
	box-shadow: 0 2px 0 0 #333, 0 -2px 0 0 #333;
/*	padding: 13px;*/
/*	margin-top: -8px;*/
/*	border-radius: 3px;*/
/*	filter: invert(100%);*/
transition-delay: 300ms;
}
check-paper p {
	transition: 315ms;
	box-shadow: 0 0px 0 0 #333, 0 0px 0 0 #333;
/*	transition: 105ms;*/
/*	margin-left: 13px;*/
/*	margin-right: 13px;*/
	padding: 0 13px;
	margin-bottom: 27px;
	display: flex;
}

check-paper{

}

check-paper{
	margin-bottom: 170px;
	position: relative;
}

check-paper u{
	position: sticky;
/*	top: 17px;*/
	bottom: 17px;
	margin-top: auto;
	margin-left: auto;
	margin-bottom: 35px;
	font-size: 33px;
	right: 16px;
	margin-right: 19px;
}

check-paper u[total]{
	background-color: #ffffff;
	border-radius: 15px;
/*	box-shadow: 0 0 4px 4px #ffffff;*/
}