food-menu{
/*	background-color: cyan;*/
	display: flex;
	flex-direction: column;
}
food-menu>.gradientBG{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 33px 42px;
	margin: 20px;
	margin-bottom: 0;
	gap: 10px;

/*	width: 1173px;*/
	height: 223px;
/*	left: 10px;*/
/*	top: 52px;*/

	background: linear-gradient(90.55deg, #87C7F6 -21.15%, #983FC4 165.14%);
	border-radius: 21px;
}

food-menu>.categories{
	margin-top: -150px;
	display: flex;
	flex-direction: row;
	padding: 20px 60px;
	gap: 80px;
/*	flex-wrap: wrap;*/
	overflow-x: scroll;
/*	margin-top: -30px;*/

/*	align-items: center;*/
/*	justify-content: center;*/
}
food-menu>.categories>button{
	animation: categoryAnim 900ms;
	animation-timing-function: cubic-bezier(0.22, 0.93, 0, 1.2);;
	transform-origin: bottom;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;

	width: 160px;
	height: 160px;

	background: #F9F9F9;
	border: 1px solid #8C82A8;
	box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
	border-radius: 30px;

	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;

	color: #12183A;
	transition: 300ms;
}
food-menu>.categories>button:hover{
	transform: translateY(-10px);
	box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);

}



food-menu>.categories>button[active]{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	color: #FFFFFF;
	background: #2D3668;
	border: 3px solid #FFFFFF;
	/*flex-grow: 0.5;*/
/*	flex-grow: 0.3;*/
	flex-grow: 1;
	transform: scale(1.07);
}

food-menu>.categories>button:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(90.78% 90.78% at 49.84% 134.47%, #F2339A 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: inherit;
	opacity: 0;
	transition-timing-function: ease;
	transition: 700ms;
}
food-menu>.categories>button[active]:after{
	transition: 1000ms;
	transition-timing-function: cubic-bezier(0.58, -0.1, 0.68, 0.66);
	opacity: 1;
}

.foodsList{
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 400;
	font-size: 18px;
	padding: 0 45px;
}

.foodsList>p {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 17px 10px 17px 27px;
	gap: 10px;

	min-height: 61px;

	background: #F1F1F1;
	border-radius: 20px;
	animation-name: foodListItemAnim;
	animation-duration: 400ms;
}

@keyframes foodListItemAnim{
	from{
		transform: translateY(-40px);
		opacity: 0;
	} to{
		transform: translateY(0);
		opacity: 1;
	}
}

.foodsList>p:hover {
	border: 2px solid #555;
}

@keyframes categoryAnim{
	from{
		opacity: 0;
		transform: scale(0.8);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}