side-menu{
	background-color: #0F172A;
	color: #eeeeee;
/*	height: 400%;*/
/*	min-height: 100vh;*/
	padding: 36px 10px;
	gap: 15px;
/*	box-shadow: -800px 800px 0 800px #ff172A;*/
/*	box-shadow: -800px 800px 0 800px #0F172A;*/
	position: sticky;

	display: flex;
	flex-direction: column;
/*	position: absolute;*/
	top: 0;
	left: 0;
	transition: 400ms;
	width: 227px;
/*	width: 122px;*/
	z-index: 999999;
	overflow-y: auto;

	min-height: 100%;
/*	border-radius: 	30px;*/
/*	transform: 	scale(0.98);*/
}

side-menu h3{
	font-size: 45px;
	font-family: 'Josefin Sans', sans-serif;

	padding-left: 3px;
}

side-menu button {
	background-color: #ffffff00;
	color: #ffffff;
	padding: 15px 19px;
	border-radius: 5px;

	border: 1px solid #00000000;
	transition: 200ms;
}

side-menu button[active] {
	background-color: #ffffff18;
}

side-menu button:hover {
	background-color: #ffffff11;
}

side-menu button:active {
	border: 1px solid #ffffff55;
	box-shadow: 0 0 8px #fff2;
}

side-menu[minimized]{
	position: absolute;
	width: 90px !important;
	min-height: 0;
	left: 	14px;
	top: 	14px;
/*	top: 	calc(100% - 14px - 90px);*/

/*	height: 90px;*/
/*	background-color: #fff0;*/
	transform: scale(0.85);
	border-radius: 30px;
	transform-origin: top left;
	padding: 7px 7px;
	flex-direction: column;
	box-shadow: 0 0 0 0 #0F172A00;
}
side-menu[minimized]>button[toggler]{
	background-color: #0F172A;
/*	box-shadow: -0px 5px 3px #0005;*/
	font-size: 20px;
	transition: 300ms;
}
